<ion-header>
  <ion-toolbar color="orange1">
    <ion-title class="ion-text-center">a propos</ion-title>
    <ion-buttons slot="start" color="dark">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br>
Salutations cher(e(s)) utilisateurs/utilisatrices!!!
C'est avec une joie immense et malgré les nombreuses difficultés rencontrées que nos différentes équipes se sont mises au fourneau pour vous 
produire cette application. Conscient de l'importance de connaître les lois et textes régissant l'agir de notre beau pays le Cameroun, des jeunes
 élèves ingénieurs de l'Institut Universitaire Saint Jean ont mis sur pied ce produit de consommation gratuite.
</ion-content>
