<ion-header>
  <ion-toolbar color="orange1">
    <ion-title class="ion-text-center">code penal</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="search">
    <ion-searchbar placeholder="recherche..."></ion-searchbar>
  </div>
  <div></div>
  <div>
    <h2 class="ion-text-center" *ngFor="let num of A">
      <b><u>{{donnees[num]}}</u></b>
      <p>{{aline[num]}}</p>
      <!--p *ngFor="let nb of [0,1,2,3]">{{aline[num][nb].libelle}}</p-->
    </h2>
  </div>
  <!--ul>
    <li *ngFor="let num of Data">{{donnees[num]}}</li>
  </ul-->
  <p>{{cdpData.alineas}}</p>


</ion-content>
